    <h1 class="text-center">COMUNICATE CON NOSOTROS</h1>

    <p class="text-center">Diligencia este formulario para hacernos llegar cualquier comentario relacionado con la atención recibida,  
        ya sea en una de nuestras</p>
    <p class="text-center"> instalaciones físicas o por medio de nuestro canal virtual.¡Intentamos mejorar cada día para brindarles el mejor servicio posible!</p>
    
    <div class="mb-3 col-lg-6 form">
        <label for="exampleFormControlInput1" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    
    <div class="mb-3 col-lg-6 last form">
        <label for="exampleFormControlTextarea1" class="form-label">Dejanos tu comentario </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>    

<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 bg-primary">
      © 2024 Copyright:
      <a class="text-body">Duvan Camilo Zapata</a>
    </div>
    <!-- Copyright -->
</footer>
