<br>
<h1 class="text-center">Catalogo</h1>
<br>
<div class="card-group">
  <div class="card">
    <img src="../../assets/AdidasPredator.jpg" class="card-img-top" alt="1">
    <div class="card-body">
      <h5 class="card-title">Adidas Predator</h5>
      <p class="card-text">Precio: $529.000 COP</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/canguroRunning.jpg" class="card-img-top" alt="2">
    <div class="card-body">
      <h5 class="card-title">Canguro Running</h5>
      <p class="card-text">Precio $177.956 COP</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/UCLTraining.jpg" class="card-img-top" alt="3">
    <div class="card-body">
      <h5 class="card-title">Balon UCL Training</h5>
      <p class="card-text">Precio: 149.900 COP</p>
    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card">
    <img src="../../assets/golfBag.jpg" class="card-img-top" alt="4">
    <div class="card-body">
      <h5 class="card-title">Golf Bag</h5>
      <p class="card-text">Precio: $1.350.999 COP</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/ultra-light.jpg" class="card-img-top" alt="5">
    <div class="card-body">
      <h5 class="card-title">Adiddas Ultra boost Light</h5>
      <p class="card-text">Precio: $950.450 COP</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/court.jpg" class="card-img-top" alt="6">
    <div class="card-body">
      <h5 class="card-title">Nike Court (Cinta para el pelo tenis)</h5>
      <p class="card-text">Precio: $77.500 COP</p>
    </div>
  </div>
</div>
<br>
<div class="card-group">
  <div class="card">
    <img src="../../assets/gorraPuma.jpg" class="card-img-top" alt="7">
    <div class="card-body">
      <h5 class="card-title">Gorra Puma Ferrari</h5>
      <p class="card-text">Precio: $135.500 COP</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/visorPuma.jpg" class="card-img-top" alt="8">
    <div class="card-body">
      <h5 class="card-title">Visor Puma </h5>
      <p class="card-text">Precio: $58.500 COP</p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/NikeInfinityRN 4.jpg" class="card-img-top" alt="9">
    <div class="card-body">
      <h5 class="card-title">Nike InfinityRN 4</h5>
      <p class="card-text">Precio: $894.500 COP </p>
    </div>
  </div>
</div>
<br>
<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 bg-primary">
      © 2024 Copyright:
      <a class="text-body">Duvan Camilo Zapata</a>
    </div>
    <!-- Copyright -->
</footer>