<br>
<h1 class="text-center">CONOCENOS</h1>
<br>
<div class="row">
  <div class="col-sm-5 mb-3 mb-sm-0 margin">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Mision</h5>
        <p class="card-text">Dotar a los deportistas de toda Colombia con las prendas y accesorios de mayor calidad para que de esta manera logren explotar al máximo todo su potencial.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Vision</h5>
        <p class="card-text">Inspirar en las nuevas generaciones un amor imborrable por el deporte, acompañándolos en cada paso del camino, brindándoles productos de la más alta calidad. </p>
      </div>
    </div>
  </div>
</div>
<br>
<h1 class="text-center">ESTAMOS UBICADOS AQUI</h1>
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.3077493214773!2d-74.07323462418674!3d4.7165077415186065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f850053626617%3A0x639369c781db853a!2sCentro%20suba!5e0!3m2!1ses!2sco!4v1716844713311!5m2!1ses!2sco" width="2125" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br>
  <footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 bg-primary">
      © 2024 Copyright:
      <a class="text-body">Duvan Camilo Zapata</a>
    </div>
    <!-- Copyright -->
</footer> 